*{
    box-sizing:border-box;
}


    .header{
      
      text-align: center;
      font: helvetica;
      color: white;
      background-color:blue;
      font-size:50px;
      
}

    .header2{
      
      text-align: center;
      font: helvetica;
      color: white;
      background-color:lightblue;
      font-size:20px;
      
}

.main{
  
      text-align: left;
      font: helvetica;
      color: lightblue;
      background-color:white;
      font-size:20px;
  
}

.topnav {
  
      font-family: Verdana;
      font-size:1vw
      background-color:rgb(100,0,125);
      overflow: hidden ;
      vertical-align: center;
  
}
